@page "/"
@inject AppState AppState
@using WebViewAppShared

<h3>Hello, world!</h3>

<p>The current count is <strong>@AppState.Counter</strong></p>

<button @onclick="IncrementCount">Increment</button>
<button @onclick="TriggerException">Throw</button>

<p>This is a shared component</p>
<SharedComponent />

@code {
    protected override void OnInitialized()
    {
        Task.Run(async () =>
        {
            while (true)
            {
                await Task.Delay(1000);

                var awaited = false;

                await InvokeAsync(async () =>
                {
                    await Task.Delay(1000);
                    awaited = true;
                    AppState.Counter++;
                    StateHasChanged();
                });

                if (!awaited)
                {
                    throw new Exception("Didn't await");
                }
            }
        });
    }

    void IncrementCount()
    {
        AppState.Counter++;
    }

    void TriggerException()
    {
        throw new InvalidTimeZoneException("This is an exception from an event handler");
    }
}
